@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

html, body {
	overflow: auto;
	padding: 0;
	margin: 0;
	height: 100%;
	scroll-behavior: smooth;
	font-family: 'Roboto', sans-serif;
}

:root {
	--color: black;
	--background: white;
}

#navdot {
	position: fixed;
	z-index: 5;
	height: auto;
	list-style: none;
	padding: 0;
	margin: 0;
	top: 50%;
	right: 3vmin;
	transform: translateY(-50%);
	opacity: 0.5;
}

#navdot li {
	height: 2vh;
	width: 2vh;
	border: solid 2px black;
	border-radius: 50%;
	margin-bottom: 2vh;
	cursor: pointer;
}

#navdot li.active {
	background: black;
}

@media only screen and (min-width: 769px) {
	::-webkit-scrollbar {
		width: 7px;
		background: transparent;
	}

	::-webkit-scrollbar-thumb {
		background: rgba(100, 100, 100, 0.7);
	}
}

/* ***************************************************************** */
/* Cube Start ****************************************************** */
/* ***************************************************************** */

.cube_wrapper {
	position: relative;
	transform: rotateX(-30deg);
	transform-style: preserve-3d;
	overflow: visible;
}

.cube {
	position: relative;
	margin: 0vh auto;
	height: 18vh;
	width: 18vh;
	transform: rotateY(-45deg);
	transform-style: preserve-3d;
	transition: all 0.3s ease;
	overflow: visible;
}

.cube_face {
	color: var(--color);
	background: var(--background);
	height: 18vh;
	width: 18vh;
	position: absolute;
	backface-visibility: hidden;
	overflow: visible;
	transform-style: preserve-3d;
	box-sizing: border-box;
	border: solid 1px #ddd;
}

.cube .cube_face:nth-child(1) {
	transform: rotateX(90deg) rotateY(0deg) translateZ(9vh);
	filter: brightness(90%);
}

.cube .cube_face:nth-child(2) {
	transform: rotateX(0deg) rotateY(0deg) translateZ(9vh);
	filter: brightness(80%);
}

.cube .cube_face:nth-child(3) {
	transform: rotateX(0deg) rotateY(90deg) translateZ(9vh);
	filter: brightness(70%);
}

.cube .cube_face:nth-child(4) {
	transform: rotateX(0deg) rotateY(180deg) translateZ(9vh);
	filter: brightness(80%);
}

.cube .cube_face:nth-child(5) {
	transform: rotateX(0deg) rotateY(270deg) translateZ(9vh);
	filter: brightness(70%);
}

.cube .cube_face:nth-child(6) {
	transform: rotateX(-90deg) rotateY(0deg) translateZ(9vh);
	filter: brightness(90%);
}

.cube .cube_face:nth-child(7) {
	transform: rotateX(90deg) rotateY(0deg) translateZ(-9vh) translateX(18vh);
	background: rgb(181, 230, 29);
}

.cube_face .logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 9vh;
}

.cube_face img {
	height: 14vh;
}

/* ***************************************************************** */
/* Cube End ******************************************************** */
/* ***************************************************************** */

/* ***************************************************************** */
/* Flipcard End **************************************************** */
/* ***************************************************************** */

.flipcard {
	margin: 25px auto;
	height: 350px;
	width: 240px;
	position: relative;
	perspective: 700px;
	transform-style: preserve-3d;
	text-align: center;
}

.flipcard_front, .flipcard_back {
	backface-visibility: hidden;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transition: all .5s ease;
}

.flipcard_front {
	transform: translate(-50%, -50%) rotateY(0deg);
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.flipcard:hover .flipcard_front {
	transform: translate(-50%, -50%) rotateY(180deg);
}

.flipcard_back {
	transform: translate(-50%, -50%) rotateY(180deg);
	color: white;
	background: rgba(0, 0, 0, 0.95);
}

.flipcard:hover .flipcard_back {
	transform: translate(-50%, -50%) rotateY(360deg);
}

.flipcard_description {
	box-sizing: border-box;
	position: absolute;
	top: 0;
	width: 100%;
	padding: 10% 10% 0%;
	overflow: auto;
}

.flipcard_description button {
	background: transparent;
	border: solid 1px white;
	border-radius: 50%;
	color: white;
	padding: 0;
	margin: 0% 2%;
	transition: all 0.3s;
	text-align: center;
	font-size: 1rem;
	width: 2.5rem;
	height: 2.5rem;
}

.flipcard_description button:hover {
	color: black;
	background: white;
	cursor: pointer;
}

.flipcard_description p {
	opacity: 0.5;
}

.flipcard_description img {
	height: 2rem;
	margin: 2% 1%;
}

/* ***************************************************************** */
/* Flipcard End **************************************************** */
/* ***************************************************************** */

/* ***************************************************************** */
/* Social Button Start ********************************************* */
/* ***************************************************************** */

.social_button {
	border: solid 1px white;
	border-radius: 50%;
	color: white;
	padding: 0;
	margin: 0.5rem 0.5rem;
	transition: all 0.3s;
	text-align: center;
	font-size: 1rem;
	width: 2.5rem;
	height: 2.5rem;
	background: rgb(30, 30, 30);
}

.social_button:hover {
	cursor: pointer;
	background: white;
	color: rgb(30, 30, 30);
}

/* ***************************************************************** */
/* Social Button End *********************************************** */
/* ***************************************************************** */