@import url('https://use.typekit.net/azw2eps.css');

html {
	overflow: hidden;
	padding: 0;
	margin: 0;
	height: 100%;
}

body {
	font-family: acumin-pro;
	height: 100%;
	overflow: auto;
}

:root {
	--color: black;
	--background: white;
}

#navbar {
	box-sizing: border-box;
	list-style: none;
	padding: 1rem 1.5rem;
	margin: 0;
	overflow: hidden;
}

#navbar li {
	float: right;
}

#navbar a {
	color: black;
	display: block;
	font-size: 2em;
	float: right;
	padding: 0rem 0.3rem;
	margin: 0.5rem 0.5rem;
	text-decoration: none;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	opacity: 0.4;
}

#navbar a.active, #navbar a:hover {
	opacity: 1;
}

#navdot {
	position: fixed;
	z-index: 5;
	height: auto;
	list-style: none;
	padding: 0;
	margin: 0;
	top: 50%;
	right: 3vmin;
	transform: translateY(-50%);
	opacity: 0.5;
}

#navdot li {
	height: 2vh;
	width: 2vh;
	border: solid 2px black;
	border-radius: 50%;
	margin-bottom: 2vh;
	cursor: pointer;
}

#navdot li.active {
	background: black;
}

@media only screen and (min-width: 769px) {
	::-webkit-scrollbar {
		width: 7px;
		background: transparent;
	}

	::-webkit-scrollbar-thumb {
		background: rgba(100, 100, 100, 0.7);
	}
}

/* ***************************************************************** */
/* Cube Start ****************************************************** */
/* ***************************************************************** */

.cube_wrapper {
	padding: 10vh 0;
	position: relative;
	-webkit-transform: rotateX(-30deg);
	-moz-transform: rotateX(-30deg);
	-ms-transform: rotateX(-30deg);
	transform: rotateX(-30deg);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	overflow: visible;
}

.cube {
	position: relative;
	margin: 0vh auto;
	height: 20vh;
	width: 20vh;
	-webkit-transform: rotateY(-45deg);
	-moz-transform: rotateY(-45deg);
	-ms-transform: rotateY(-45deg);
	transform: rotateY(-45deg);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	transition: all 0.3s ease;
	overflow: visible;
}

.cube_face {
	color: var(--color);
	background: var(--background);
	height: 20vh;
	width: 20vh;
	position: absolute;
	backface-visibility: hidden;
	overflow: visible;
	transform-style: preserve-3d;
	box-sizing: border-box;
	border: solid 1px #ddd;
}

.cube .cube_face:nth-child(1) {
	-webkit-transform: rotateX(90deg) rotateY(0deg) translateZ(10vh);
	-moz-transform: rotateX(90deg) rotateY(0deg) translateZ(10vh);
	-ms-transform: rotateX(90deg) rotateY(0deg) translateZ(10vh);
	transform: rotateX(90deg) rotateY(0deg) translateZ(10vh);
	filter: brightness(90%);
}

.cube .cube_face:nth-child(2) {
	-webkit-transform: rotateX(0deg) rotateY(0deg) translateZ(10vh);
	-moz-transform: rotateX(0deg) rotateY(0deg) translateZ(10vh);
	-ms-transform: rotateX(0deg) rotateY(0deg) translateZ(10vh);
	transform: rotateX(0deg) rotateY(0deg) translateZ(10vh);
	filter: brightness(80%);
}

.cube .cube_face:nth-child(3) {
	-webkit-transform: rotateX(0deg) rotateY(90deg) translateZ(10vh);
	-moz-transform: rotateX(0deg) rotateY(90deg) translateZ(10vh);
	-ms-transform: rotateX(0deg) rotateY(90deg) translateZ(10vh);
	transform: rotateX(0deg) rotateY(90deg) translateZ(10vh);
	filter: brightness(70%);
}

.cube .cube_face:nth-child(4) {
	-webkit-transform: rotateX(0deg) rotateY(180deg) translateZ(10vh);
	-moz-transform: rotateX(0deg) rotateY(180deg) translateZ(10vh);
	-ms-transform: rotateX(0deg) rotateY(180deg) translateZ(10vh);
	transform: rotateX(0deg) rotateY(180deg) translateZ(10vh);
	filter: brightness(80%);
}

.cube .cube_face:nth-child(5) {
	-webkit-transform: rotateX(0deg) rotateY(270deg) translateZ(10vh);
	-moz-transform: rotateX(0deg) rotateY(270deg) translateZ(10vh);
	-ms-transform: rotateX(0deg) rotateY(270deg) translateZ(10vh);
	transform: rotateX(0deg) rotateY(270deg) translateZ(10vh);
	filter: brightness(70%);
}

.cube .cube_face:nth-child(6) {
	-webkit-transform: rotateX(90deg) rotateY(0deg) translateZ(-10vh);
	-moz-transform: rotateX(90deg) rotateY(0deg) translateZ(-10vh);
	-ms-transform: rotateX(90deg) rotateY(0deg) translateZ(-10vh);
	transform: rotateX(90deg) rotateY(0deg) translateZ(-10vh) translateX(20vh);
	background: rgb(181, 230, 29);
}

.cube_face .logo {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 10vh;
}

.cube_face img {
	height: 15vh;
}

.rotate_left, .rotate_right {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 50px;
	cursor: pointer;
}

.rotate_left {
	-webkit-transform: translate(-21vh, -50%) translateX(-50%);
	-moz-transform: translate(-21vh, -50%) translateX(-50%);
	-ms-transform: translate(-21vh, -50%) translateX(-50%);
	transform: translate(-21vh, -50%) translateX(-50%);
}

.rotate_right {
	-webkit-transform: translate(21vh, -50%) translateX(-50%);
	-moz-transform: translate(21vh, -50%) translateX(-50%);
	-ms-transform: translate(21vh, -50%) translateX(-50%);
	transform: translate(21vh, -50%) translateX(-50%);
}

.door {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0%);
	transform-style: preserve-3d;
	transform-origin: 0% 50%;
	height: 10vh;
	width: 7vh;
	background: gray;
	cursor: pointer;
	overflow: visible;
}

.door:after {
	content: '';
	position: absolute;
	right: 10%;
	top: 50%;
	transform: translate(-50%, -50%);
	transform-style: preserve-3d;
	border: solid 2px black;
	border-radius: 50%;
	background: black;
	height: 1vh;
	width: 1vh;
	overflow: visible;
}

.door_inside {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0%);
	height: 10vh;
	width: 7vh;
	background: #ffd11a;
	z-index: -1;
	transform-style: preserve-3d;
	overflow: visible;
}

/* ***************************************************************** */
/* Cube End ******************************************************** */
/* ***************************************************************** */



/* ***************************************************************** */
/* Bird Start ****************************************************** */
/* ***************************************************************** */

.character {
	height: 5vh;
	width: 5vh;
	position: absolute;
	bottom: 0;
	transform: translate(20vh, 0%) rotateY(0.5turn);
	transform-style: preserve-3d;
	overflow: visible;
	display: inline-block;
}

.character svg {
	display: inline-block;
	height: 5vh;
	width: auto;
	position: absolute;
	left: 0;
	overflow: visible;
	transform-style: preserve-3d;
}

.character svg:nth-child(1) {
	transform: translateZ(0vh);
}

.character svg:nth-child(2) {
	transform: translateZ(.1vh);
}

.character svg:nth-child(3) {
	transform: translateZ(-0.1vh);
}

.character svg:nth-child(4) {
	transform: translateZ(0.2vh);
}

.character svg:nth-child(5) {
	transform: translateZ(-0.2vh);
}

.character svg:nth-child(6) {
	transform: translateZ(0.3vh);
}

.character svg:nth-child(7) {
	transform: translateZ(-0.3vh);
}

.character svg:nth-child(8) {
	transform: translateZ(0.4vh);
}

.character svg:nth-child(9) {
	transform: translateZ(-0.4vh);
}

.character svg:nth-child(10) {
	transform: translateZ(0.5vh);
}

.character svg:nth-child(11) {
	transform: translateZ(-0.5vh);
}

.character svg:nth-child(12) {
	transform: translateZ(0.6vh);
}

.character svg:nth-child(13) {
	transform: translateZ(-0.6vh);
}

.character svg:nth-child(14) {
	transform: translateZ(0.7vh);
}

.character svg:nth-child(15) {
	transform: translateZ(-0.7vh);
}

.walking {
	animation: walk 10s infinite linear, jump 0.12s alternate infinite;
	animation-delay: 1s infinite;
}

@keyframes jump {
	from {
		bottom: 0vh;
	}

	to {
		bottom: 1vh;
	}
}

@keyframes walk {
	0% {transform: translate(20vh, 0%)  rotateY(0.5turn);}
	10% {transform: translate(25vh, 0%)  rotateY(0.5turn);}
	19.99% {transform: translate(25vh, 0%)  rotateY(0.5turn);}
	20% {transform: translate(25vh, 0%) rotateY(0.25turn);}
	30% {transform: translate3d(25vh, 0%, 5vh) rotateY(0.25turn);}
	39.99% {transform: translate3d(25vh, 0%, 5vh) rotateY(0.25turn);}
	40% {transform: translate3d(25vh, 0%, 5vh) rotateY(0.75turn);}
	60% {transform: translate3d(25vh, 0%, -5vh) rotateY(0.75turn);}
	69.99% {transform: translate3d(25vh, 0%, -5vh) rotateY(0.75turn);}
	70% {transform: translate3d(25vh, 0%, -5vh) rotateY(0.25turn);}
	80% {transform: translate(25vh, 0%) rotateY(0.25turn);}
	89.99% {transform: translate(25vh, 0%) rotateY(0.25turn);}
	90% {transform: translate(25vh, 0%);}
	100% {transform: translate(20vh, 0%);}
}

	.wing {
		animation: flap 3s infinite linear;
		transform-style: preserve-3d;
		transform-origin: 50% 50%;
	}

@keyframes flap {
	0% {transform: rotate(-80deg);}
	9.99% {transform: rotate(-80deg);}
	10% {transform: rotate(0deg);}
	69.99% {transform: rotate(0deg);}
	70% {transform: rotate(-80deg);}
	79.99% {transform: rotate(-80deg);}
	80% {transform: rotate(0deg);}
	100% {transform: rotate(0deg);}
}

/* ***************************************************************** */
/* Bird End ******************************************************** */
/* ***************************************************************** */



/* ***************************************************************** */
/* Flipcard End **************************************************** */
/* ***************************************************************** */

.flipcard {
	margin: 25px auto;
	height: 350px;
	width: 250px;
	position: relative;
	perspective: 700px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	text-align: center;
	display: none;
}

.flipcard_front, .flipcard_back {
	backface-visibility: hidden;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}

.flipcard_front {
	-webkit-transform: translate(-50%, -50%) rotateY(0deg);
	-ms-transform: translate(-50%, -50%) rotateY(0deg);
	transform: translate(-50%, -50%) rotateY(0deg);
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.flipcard:hover .flipcard_front {
	-webkit-transform: translate(-50%, -50%) rotateY(180deg);
	-ms-transform: translate(-50%, -50%) rotateY(180deg);
	transform: translate(-50%, -50%) rotateY(180deg);
}

.flipcard_back {
	-webkit-transform: translate(-50%, -50%) rotateY(180deg);
	-ms-transform: translate(-50%, -50%) rotateY(180deg);
	transform: translate(-50%, -50%) rotateY(180deg);
	color: white;
	background: rgba(0, 0, 0, 0.95);
}

.flipcard:hover .flipcard_back {
	-webkit-transform: translate(-50%, -50%) rotateY(360deg);
	-ms-transform: translate(-50%, -50%) rotateY(360deg);
	transform: translate(-50%, -50%) rotateY(360deg);
}

.flipcard_description {
	box-sizing: border-box;
	position: absolute;
	top: 0;
	width: 100%;
	padding: 10% 10% 0%;
	overflow: auto;
}

.flipcard_description button {
	background: transparent;
	border: solid 1px white;
	border-radius: 50%;
	color: white;
	padding: 0;
	margin: 0% 2%;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	text-align: center;
	font-size: 1rem;
	width: 2.5rem;
	height: 2.5rem;
}

.flipcard_description button:hover {
	color: var(--color);
	background: var(--background);
	cursor: pointer;
}

.flipcard_description p {
	opacity: 0.5;
}

.flipcard_description img {
	height: 2rem;
	margin: 2% 1%;
}

/* ***************************************************************** */
/* Flipcard End **************************************************** */
/* ***************************************************************** */