<!DOCTYPE html>
<html lang="en">
<head>
	<title>Test2</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="white">
	<meta name="description" content="Junseong Hong's Website">
	<link rel="shortcut icon" type="image/x-icon" href="../favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<style type="text/css">

	#div1 span {
		font-size: 5vh;
	}

</style>

<body id="test2">
	<div id='div1' style="height: 50%; position: -webkit-sticky; top: 0; position: sticky; background: red;">
		<span>&nbsp</span>
		<span>J</span>
		<span>A</span>
		<span>K</span>
		<span>E</span>
	</div>
	<div style="height: 1000%; width: 100%; background: gray;"></div>
	<div id ='div3' style="height: 100%; width: 100%; background: green; position: sticky; position: -webkit-sticky; top: 0;"></div>
</body>

<script>
	var phrase = ' JAKE';
	var count = 4;
	var curr = 0;
	var alphabet = 'abcdefghijklmnopqrstuvwxyzABCDEGFHIJKLMNOPQRSTUVWXYZ';

	function shuffleRemove(target, index, remove) {
		if (!remove) {
			$(target)[0].appendChild(document.createElement('span'));
		}
		var focus = $(target + '>span')[index];
		setTimeout(function() {
			focus.innerHTML = alphabet[Math.floor(Math.random() * Math.floor(52))];
			setTimeout(function() {
				focus.innerHTML = alphabet[Math.floor(Math.random() * Math.floor(52))];
				setTimeout(function() {
					focus.innerHTML = alphabet[Math.floor(Math.random() * Math.floor(52))];
					setTimeout(function() {
						focus.innerHTML = alphabet[Math.floor(Math.random() * Math.floor(52))];
						setTimeout(function() {
							focus.innerHTML = alphabet[Math.floor(Math.random() * Math.floor(52))];
							setTimeout(function() {
								if (remove) {
									focus.remove();
								} else {
									focus.innerHTML = phrase[index];
								}
							}, 70);
						}, 70);
					}, 70);
				}, 70);
			}, 70);
		}, 70);
	}

	document.body.addEventListener('scroll', function(e) {
		if (200 < $('body').scrollTop() && $('body').scrollTop() <= 1200) {
			curr = Math.floor(((5 * 200) - $('body').scrollTop() + 200) / 200);
			if (count > curr && count != 0) {
				shuffleRemove('#div1', count, true);
				count = curr;
			} else if (count < curr) {
				count = curr;
				shuffleRemove('#div1', count, false);
			}
		}
	});
</script>

</html>