<!DOCTYPE html>
<html lang="en">
<head>
	<title>Projects</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="theme-color" content="white">
	<meta name="description" content="Junseong Hong's Website">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<style type="text/css">
	body {
		height: 100vh;
	}

	.sky {
		height: 80vh;
		position: relative;
		background: rgb(77, 255, 255);
	}

	.ground {
		position: relative;
		height: 20vh;
		background-image: url('../css/brick.png');
		background-size: 2%;
		background-repeat: repeat;
	}

	#jake {
		height: 100px;
		width: 100px;
		position: absolute;
		bottom: 0;
		left: 50px;
		background-image: url('../css/mario_stop.png');
		background-size: 100%;
	}
</style>

<body id="test1">
	<div class="sky">
		<div id="jake"></div>
	</div>
	<div class="ground"></div>
</body>


<script>
	var jumping = false;
	var jake = $("#jake");
	var dx = 0;

	var moveL = false;
	var moveR = false;
	var jump = false;
	
	$("body").keydown(function(e) {
        ek = e.keyCode;
        if (ek==37) moveL = true;
        if (ek==39) moveR = true;
        if (ek==38 && !jumping) jump = true;
    });

    $("body").keyup(function(e) {
        ek = e.keyCode;
        if (ek==37) moveL=false;
        if (ek==39) moveR=false;
        if (ek==38) jump=false;
    });

	function move() {
		if (jump && !jumping) {
			jumping = true;
			jake.css({
				'background-image': 'url("../css/mario_run.png")',
				'background-size': '100px'
			});
			jake.animate({
				bottom: "+=30vh"
			}, 200, function() {
				jake.animate({
					bottom: "-=30vh"
				}, 200, function() {
					jumping = false;
					jake.css({
						'background-image': 'url("../css/mario_stop.png")',
						'background-size': '120px'
					});
				});
			});
		}

		if (!moveL && moveR) {
			if (jake.css('left') + 5 > window.innerWidth) {
				jake.css('left', window.innerWidth);
			} else {
				jake.css({
					left: "+=5",
					transform: "rotateY(0deg)"
				});
			}
		} else if (moveL && !moveR) {
			if (jake.css('left') - 5 < 0) {
				jake.css('left', 0);
			} else {
				jake.css({
					left: "-=5",
					transform: "rotateY(180deg)"
				});
			}
		}
	}

	setInterval("move()", 15);

</script>

</html>